# GTM configuration template
nodename = 'gtm_master'
listen_addresses = '*'
port = 6666
startup = ACT
log_file = 'gtm.log'
# 注意：gtm_thread_count 不被 GTM 二进制识别，已移除
# 如果遇到 "binding threads failed" 错误，请参考 GTM 文档设置线程数参数
